{% extends 'base_bo.html.twig' %}

{% form_theme form1 '@OlixBackOffice/Twig/form-theme-horizontal-layout.html.twig' %}
{% form_theme form2 '@OlixBackOffice/Twig/form-theme-horizontal-layout.html.twig' %}

{% block title %}{{ parent() }} - Mon profil{% endblock %}

{% block content_title %}Mon profil{% endblock %}
{% block content_subtitle %}{% endblock %}

{% set form1Activ = form1.vars.submitted or (not form1.vars.submitted and not form2.vars.submitted) %}
{% set form2Activ = form2.vars.submitted %}

{% block content %}

<div class="container-fluid">

    <div class="row">

        <div class="col-md-6">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <a href="{{ path('olix_profile_avatar') }}" title="Changer son avatar" data-toggle="olix-modal" data-target="#modalOlix"><img class="profile-user-img img-fluid img-circle" src="{{ asset(app.user.avatar) }}" alt="{{ app.user.username }}"></a>
                    </div>
                    <h3 class="profile-username text-center">{{ app.user.name }}</h3>
                    <p class="text-muted text-center">{{ app.user.email }}</p>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item"><b>Thème favori</b>
                            <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                <label class="btn btn-sm btn-secondary{% if app.user.theme == 0 %} active{% endif %}">
                                    <input type="radio" name="theme" id="theme_light"{% if app.user.theme == 0 %} checked disabled{% endif %} onclick="location.href='{{ path('olix_profile_theme') }}'"> <i class="far fa-sun"></i> CLAIR
                                </label>
                                <label class="btn btn-sm btn-secondary"{% if app.user.theme == 1 %} active{% endif %}>
                                    <input type="radio" name="theme" id="theme_dark"{% if app.user.theme == 1 %} checked disabled{% endif %} onclick="location.href='{{ path('olix_profile_theme') }}'"> <i class="fas fa-moon"></i> SOMBRE
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item"><b>Rôle</b>
                            <a class="float-right">
                                {% for role in app.user.roles %}<span class="badge bg-green">{{ role }}</span> {% endfor %}
                            </a>
                        </li>
                        <li class="list-group-item"><b>Dernière connexion</b> <a class="float-right">{{ app.user.lastLogin|date('d/m/Y H:i') }}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link{% if form1Activ %} active{% endif %}" href="#activity" data-toggle="tab">Mes informations</a></li>
                        <li class="nav-item"><a class="nav-link{% if form2Activ %} active{% endif %}" href="#settings" data-toggle="tab">Mot de passe</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">

                        <div class="tab-pane{% if form1Activ %} active{% endif %}" id="activity">
                            {{ form_start(form1, {'attr': {'class': 'form-horizontal'}}) }}
                                {{ form_errors(form1) }}
                                {{ form_rest(form1) }}
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Modifier</button>
                                    </div>
                                </div>
                            {{ form_end(form1) }}
                        </div>

                        <div class="tab-pane{% if form2Activ %} active{% endif %}" id="settings">
                            {{ form_start(form2) }}
                                {{ form_errors(form2) }}
                                {{ form_rest(form2) }}
                                <div class="form-group row">
                                    <div class="offset-sm-5 col-sm-7">
                                        <button type="submit" class="btn btn-danger">Valider</button>
                                    </div>
                                </div>
                            {{ form_end(form2) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% include '@OlixBackOffice/Include/modal.html.twig' with {'element': 'cet utilisateur'} %}

{% endblock %}