{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Gestion des utilisateurs{% endblock %}

{% block content_title %}Modification d'un utilisateur{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">

            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title"><span class="avatar"><img src="{{ asset(user.avatar) }}"></span> Utilisateur : <b>{{ user.username }}</b></h3>
                </div>
                {{ form_start(form) }}
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">{{ form_widget(form.name, {'attr': {'class': 'form-control', 'id': 'inputName'}}) }}</div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">{{ form_widget(form.email, {'attr': {'class': 'form-control', 'id': 'inputEmail'}}) }}</div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEnabled" class="col-sm-2 col-form-label">Compte activé</label>
                            <div class="col-sm-10">{{ form_widget(form.enabled, {'attr': {'class': 'form-control', 'id': 'inputEnabled'}}) }}</div>
                        </div>
                        <div class="form-group row">
                            <label for="inputExpiresAt" class="col-sm-2 col-form-label">Compte expiré</label>
                            <div class="col-sm-10">{{ form_widget(form.expiresAt, {'attr': {'class': 'form-control', 'id': 'inputExpiresAt'}}) }}</div>
                        </div>
                        <div class="form-group row">
                            <label for="inputRoles" class="col-sm-2 col-form-label">Rôles</label>
                            <div class="col-sm-10">{{ form_widget(form.roles, {'attr': {'class': 'form-control', 'id': 'inputRoles'}}) }}</div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('olix_users__list') }}" class="btn btn-default">Retour</a>
                        <button type="submit" class="btn btn-primary float-right">Modifer</button>
                    </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>

{% endblock %}
