{% extends 'base.html.twig' %}

{% form_theme form '@OlixBackOffice/Twig/form-theme-horizontal-layout.html.twig' %}

{% block title %}{{ parent() }} - Gestion des utilisateurs{% endblock %}

{% block content_title %}Modification d'un utilisateur{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">

            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title"><span class="avatar"><img src="{{ asset(user.avatar) }}"></span> Utilisateur : <b>{{ user.username }}</b></h3>
                </div>
                {{ form_start(form) }}
                    <div class="card-body">
                        {{ form_rest(form) }}
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('olix_users__list') }}" class="btn btn-default">Retour</a>
                        <button type="submit" class="btn btn-primary float-right">Modifer</button>
                    </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>

{% endblock %}
