{% macro menu_item(item, level) %}
    {% import _self as sidebar %}

    {% if item.route or item.hasChildren %}
        <li class="nav-item {% if item.isActive %}menu-open{% endif %}">
            {# Contenu de menu du niveau au cours #}
            {{ sidebar.menu_item_content(item, level) }}

            {% if item.hasChildren %}
                {# Pour chaque enfant du menu #}
                <ul class="nav nav-treeview">
                    {% for child in item %}
                        {{ sidebar.menu_item(child, level+1) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% else %}
        <li class="nav-header">{{ item.label }}</li>
    {% endif %}

{% endmacro %}


{# Contenu de l'item, on a besoin du level pour afficher le badge que pour le niveau 1 #}
{% macro menu_item_content(item, level) %}
    {% set route = item.hasChildren ? '#': '/' in item.route ? item.route : path(item.route, item.route_args) %}
    <a href="{{ route }}" class="nav-link {% if item.isActive %}active{% endif %}">
        {% if item.image %}
            <img src="{{ asset(item.image) }}" class="nav-icon" height="24" width="24">
        {% elseif item.icon %}
            <i class="nav-icon {{ item.icon }} text-{{ item.icon_color|default('') }}"></i>
        {% else %}
            <i class="nav-icon far fa-circle text-{{ item.icon_color|default('') }}"> </i>
        {% endif %}
        <p class="text">
            {{ item.label|raw }}
            {% if item.hasChildren %}<i class="right fas fa-angle-left"></i>{% endif %}
            {% if level == 1 and item.badge %}<span class="right badge badge-{{ item.badge_color|default('light') }}">{{ item.badge }}</span>{% endif %}
        </p>
    </a>
{% endmacro %}


{% import _self as sidebar %}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column {{ olixbo_class_sidebar() }}" data-widget="treeview" role="menu" data-accordion="false">
        {% set menu = olixbo_sidebar_menu(app.request, forceMenuActiv|default()) %}
        {% for item in menu %}
            {{ sidebar.menu_item(item, 1) }}
        {% endfor %}
    </ul>
</nav>