{% set notifications = olixbo_notification() %}
{% if notifications %}

    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#"><i class="far fa-bell"></i> <span class="badge badge-warning navbar-badge">{{ notifications.total }}</span></a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right {{ notifications.class }}">
            <span class="dropdown-item dropdown-header">{{ notifications.total }} Notification(s)</span>

            {% for notice in notifications.notifications %}
                <div class="dropdown-divider"></div>
                <a href="{{ not notice.route ? '#' : path(notice.route, notice.route_args) }}" class="dropdown-item">
                    <i class="{{ notice.icon }} mr-2{% if notice.color %} text-{{ notice.color }}"{% endif %}"></i>
                    {{ notice.message }}
                    <span class="float-right text-muted text-sm">{{ notice.info }}</span>
                </a>
            {% endfor %}

            {% if notifications.route %}
                <div class="dropdown-divider"></div>
                <a href="{{ path(notifications.route, notifications.route_args) }}" class="dropdown-item dropdown-footer">Voir toutes les notifications</a>
            {% endif %}
        </div>
    </li>

{% endif %}

