{% set notifications = olixbo_notification() %}
{% if notifications %}

    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#"><i class="far fa-bell"></i> <span class="badge badge-warning navbar-badge">{{ notifications.total }}</span></a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">{{ notifications.total }} Notification(s)</span>

            {% for notice in notifications.notifications %}
                <div class="dropdown-divider"></div>
                <a href="{{ not notice.code ? '#' : path(notifications.route, { id: notice.code }) }}" class="dropdown-item"><i class="{{ notice.icon }} mr-2 text-{{ notice.color }}"></i> {{ notice.message }} <span class="float-right text-muted text-sm">{{ notice.info }}</span></a>
            {% endfor %}

            {% if notifications.routeAll %}
                <div class="dropdown-divider"></div>
                <a href="{{ path(notifications.routeAll) }}" class="dropdown-item dropdown-footer">See All Notifications</a>
            {% endif %}
        </div>
    </li>

{% endif %}

