{% use 'bootstrap_4_horizontal_layout.html.twig' %}

{% block email_widget -%}
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        </div>
        {{- parent() -}}
    </div>
{%- endblock email_widget %}


{% block url_widget -%}
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-globe"></i></span>
        </div>
        {{- parent() -}}
    </div>
{%- endblock url_widget %}


{% block tel_widget -%}
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-phone"></i></span>
        </div>
        {{- parent() -}}
    </div>
{%- endblock tel_widget %}


{% block olix_input_widget -%}
    {% if right_symbol or left_symbol %}
        <div class="input-group">
    {% endif %}
    {% if left_symbol %}
        <div class="input-group-prepend">
            <span class="input-group-text">{{ left_symbol|raw }}</i></span>
        </div>
    {% endif %}
    {{- block('form_widget') -}}
    {% if right_symbol %}
        <div class="input-group-prepend">
            <span class="input-group-text">{{ right_symbol|raw }}</i></span>
        </div>
    {% endif %}
    {% if right_symbol or left_symbol %}
        </div>
    {% endif %}
{%- endblock olix_input_widget %}


{% block olix_switch_row -%}
    {{- block('form_row') -}}
{%- endblock olix_switch_row %}

{% block olix_switch_label -%}
    {{- block('form_label') -}}
{%- endblock olix_switch_label %}

{% block olix_switch_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' switch')|trim}) -%}
    <span class="{{ class_switch|join(' ') }}">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <label for="{{ id }}">{{ chk_label }}</label>
    </span>
{%- endblock olix_switch_widget %}


{% block olix_select2_widget -%}
    {%- set attr = attr|merge({ 'style': 'width: 100%' }) -%}
    {% if color != 'default' %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' select2-' ~ color)|trim, 'data-dropdown-css-class': 'select2-' ~ color}) -%}
    {% endif %}
    {% if color != 'default' %}
        <div class="select2-{{ color }}">{{- block('choice_widget') -}}</div>
    {% else %}
        {{- block('choice_widget') -}}
    {% endif %}
{%- endblock olix_select2_widget %}

{% block olix_select2_ajax_widget -%}
    {%- set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-control')|trim, 'style': 'width: 100%' }) -%}
    {% if color != 'default' %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' select2-' ~ color)|trim, 'data-dropdown-css-class': 'select2-' ~ color}) -%}
    {% endif %}
    <div class="select2-{{ color }}">
        <select {{ block('widget_attributes') }}>
            {% if value is iterable %}
                {% if allow_clear %}
                    <option value=""></option>
                {% endif %}
                {% for id, label in value %}
                    <option value="{{ id }}" selected="selected">{{ label }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
{%- endblock olix_select2_ajax_widget %}


{% block olix_duallistbox_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' duallistbox')|trim }) -%}
    {{- block('choice_widget') -}}
{%- endblock olix_duallistbox_widget %}


{% block olix_datetimepicker_widget -%}
    <div class="input-group" id="dp_{{ id }}" data-target-input="nearest" data-toggle="datetimepicker2" data-options-js="{{ js_options }}">
        {%- set attr = attr|merge({
            'class': (attr.class|default('') ~ ' datetimepicker-input')|trim,
            'data-target': '#dp_' ~ id,
            'data-toggle': 'datetimepicker'}) -%}
        {{- form_widget(form, {'attr': attr}) -}}
        <div class="input-group-prepend" data-target="#dp_{{ id }}" data-toggle="datetimepicker">
            <span class="input-group-text"><i class="{{ button_icon }}"></i></span>
        </div>
    </div>
{%- endblock olix_datetimepicker_widget %}


{% block olix_collection_row -%}
    {%- if expanded is defined and expanded -%}
        {{ block('fieldset_form_row') }}
    {%- else -%}
        {%- set widget_attr = {} -%}
        {%- if help is not empty -%}
            {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
        {%- endif -%}
        <div{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group row' ~ ((not compound or force_error|default(false)) and not valid ? ' is-invalid'))|trim})} %}{{ block('attributes') }}{% endwith %}>
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form, widget_attr) -}}
                <button type="button" class="btn btn-primary btn-sm collection-btn-add">
                    <i class="fas fa-plus"></i>&nbsp;{{ button_label_add | default('Add') }}
                </button>
                {{- form_help(form) -}}
            </div>
        </div>
    {%- endif -%}
{%- endblock %}
