{% extends 'bootstrap_4_horizontal_layout.html.twig' %}

{% block email_widget -%}
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        </div>
        {{- parent() -}}
    </div>
{%- endblock email_widget %}


{% block url_widget -%}
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-globe"></i></span>
        </div>
        {{- parent() -}}
    </div>
{%- endblock url_widget %}


{% block tel_widget -%}
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-phone"></i></span>
        </div>
        {{- parent() -}}
    </div>
{%- endblock tel_widget %}



{% block olix_switch_row -%}
    {{- block('form_row') -}}
{%- endblock olix_switch_row %}

{% block olix_switch_label -%}
    {{- block('form_label') -}}
{%- endblock olix_switch_label %}

{% block olix_switch_widget -%}
    {%- set attr = attr|merge({'data-toggle': 'switch'}) -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock olix_switch_widget %}


{% block olix_select2_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' select2')|trim}) -%}
    {% if color != 'default' %}
        {%- set attr = attr|merge({class: (attr.class ~ ' select2-' ~ color)|trim, 'data-dropdown-css-class': 'select2-' ~ color}) -%}
    {% endif %}
    {% if multiple == true and color != 'default' %}
        <div class="select2-{{ color }}">{{- block('choice_widget') -}}</div>
    {% else %}
        {{- block('choice_widget') -}}
    {% endif %}

    {% if ajax_route is defined and ajax_route is not null %}
        {# For remote datas #}
        <script type="text/javascript">
        window.addEventListener("load", function(){

            $('#{{ id }}').select2({
                ajax: {
                    url: '{{ path(ajax_route) }}',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            term: params.term,
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * {{ ajax_count }}) < data.total
                            }
                        };
                    }
                }
            });

        });
        </script>
    {% endif %}
{%- endblock olix_select2_widget %}


{% block olix_duallistbox_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' duallistbox')|trim}) -%}
    {{- block('choice_widget') -}}
{%- endblock olix_duallistbox_widget %}


{% block olix_datetimepicker_widget -%}
    <div class="input-group" id="dp_{{ id }}" data-target-input="nearest">
        {%- set attr = attr|merge({
            'class': (attr.class|default('') ~ ' datetimepicker-input')|trim,
            'data-target': '#dp_' ~ id,
            'data-toggle': 'datetimepicker'}) -%}
        {{- form_widget(form, {'attr': attr}) -}}
        <div class="input-group-prepend" data-target="#dp_{{ id }}" data-toggle="datetimepicker">
            <span class="input-group-text"><i class="{{ button_icon }}"></i></span>
        </div>
    </div>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            $('#dp_{{ id }}').datetimepicker({{ ojs_options|json_encode|raw }}); 
        });
    </script>
{%- endblock olix_datetimepicker_widget %}
